<nav>
    <button id="button-home" >Home</button>
    <button id="button-dash" >Dashboard</button>
    <button id="button-log" data-loggedIn="{{loggedIn}}">
        {{#if loggedIn}}
            Log Out
        {{else}}
            Log In
        {{/if}}
    </button>
</nav>
<script src="js/navbar.js"></script>