<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <button>Home</button>
        <button>Dashboard</button>
        {{#if}}
            <button>Log In</button>
        {{else}}
            <button>Log Out</button>
        {{/if}}
    </nav>
    {{#if}}
        <header></header>
    {{else}}
        <header></header>
    {{/if}}
    <main>
        {{{content}}}
    </main>
    
</body>
</html>


<!-- body -->


<!--/ body -->