    <nav>  
        <button>Home</button>
        <button>Dashboard</button>
        {{#if}}
            <button>Log In</button>
        {{else}}
            <button>Log Out</button>
        {{/if}}
    </nav>
    {{#if}}
        <header></header>
    {{else}}
        <header></header>
    {{/if}}
    <main>
        {{{body}}}
    </main>
    